@import url('https://fonts.googleapis.com/css?family=Walter+Turncoat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

h1 {
	color: #961010;
	font-family:'Walter Turncoat', cursive;
	font-size: 140px;
	text-align: center;
}

hr {
	border:none;
}

nav{
	margin: 100px;
	text-align: center;
}

.navlinks{
	color:#000;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 26px;
	font-weight:200;
	letter-spacing: 2px


	padding: 10px 20px 10px 20px;

	margin:0 20px;
	border:none;
	
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #f6f6f6;	
}

img{
	width: 100%;
}

p2 {
	font-size: 22px;
}

li{
	font-size: 22px
}
a{
	color:inherit;
	font-size: 18px;
	text-decoration: none;
}